.core-features-container {
  margin-top: 32px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}

.section-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 4px;
}

.section-subtitle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 24px;
}

.features-cards {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.feature-card {
  background: white;
  border-radius: 16px;
  padding: 20px 24px;
  width: 280px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #333;
}

.most-popular {
  position: relative;
}

.most-popular::before {
  content: "Most Popular";
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ff5722;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 12px;
}

.card-icon {
  font-size: 1.8rem;
}

.feature-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}

.feature-description {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
  flex-grow: 1;
}

.feature-stat {
  font-weight: 700;
  font-size: 1rem;
  color: #2e7d32; /* green */
}
.resume-button {
  width: 70%;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 14px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  /* overflow: hidden; */
}

.resume-button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.resume-button:hover::before {
  scale: 3;
}

.resume-button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.resume-button:active {
  scale: 1;
}
